# Variables globals del laboratori
# Copiar a .env i omplir els valors reals (mai pujar .env al repo)

SERVER_IP=192.168.2.5
DOMAIN=devops.lab
BTRFS_DATA=/mnt/btrfs-data

# Credencials admin (mateixa per a tots els serveis del lab)
ADMIN_PASSWORD=CANVIAR_PER_CONTRASENYA_SEGURA

# Gitea PostgreSQL
GITEA_DB_PASSWORD=CANVIAR_PER_CONTRASENYA_SEGURA
